.deps/
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.log
config.status
configure
depcomp
install-sh
libsndifsdl2.a
missing
.dirstamp
*.o
*.a
/build
/src/hyph_patterns/hyph_patterns.c
/src/locales/locale_data.c
/src/locales/locale_data.h
/src/hyph_patterns/de_DE_sorted_dump.txt
/src/hyph_patterns/en_GB_sorted_dump.txt
/src/hyph_patterns/fr_FR_sorted_dump.txt
.DS_Store
